@font-face {
  font-family: 'CyberFont';
  src: url('/assets/fonts/Cyber.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #ffffff;
  font-family: CyberFont;
  font-size: 1.5rem;
  margin: auto;
  color: #000000;
  background-image: url("img/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}