@font-face {
  font-family: 'CyberFont';
  src: url('/assets/fonts/Cyber.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #ffffff;
  font-family: CyberFont;
  font-size: 1.5rem;
  margin: auto;
  color: #000000;
  background-image: url("img/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}
.infobox{
  background-color: rgba(0, 0, 0, 0.7);
  color: #00ff00;
  border: 2px solid #00ff00;
  padding: 20px;
  margin: 50px auto;
  width: 80%;
  box-shadow: 0 0 10px #00ff00;
}