:root {
  --black: #091833;
  --darkPurple: #711c91;
  --purple: #ea00d9;
  --lightBlue: #0abdc6;
  --blue: #133e7c;
}
@font-face {
  font-family: 'CyberFont';
  src: url('/assets/fonts/Cyber.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
body, html {
  // background-color: #ffffff;
  font-family: CyberFont;
  font-size: 1.5rem;
  background-image: linear-gradient(
    to bottom,
    #1b2e75, 
    #1d47a1  
  );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
main{
  max-width: 1920px; 
  margin: auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.togetherContainer{
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--darkPurple);
  border-radius: 3px;
}
@media (max-width: 1500px) {
  .togetherContainer{
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 720px){
    .stick{
        visibility: hidden;
    }
    h1{
        font-size: 40px;
    }
    p{
        font-size: 20px;
    }
    h4{
        font-size: 30px;
    }
}