.btn {
  background-color: yellow;
  color: black;
  font-size: .8rem;
  padding: 0.5em 1em;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  color: yellow;
  background-color: black;
}

