.fullWidthContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--black);
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px #00ff00;
    border: 2px solid #00ff00;
    padding: 1rem;
    box-sizing: border-box; 
}
.fullWidthContainer h4 {
    margin: 0 0 0.5rem 0;
    color: var(--lightBlue);
    text-align: center;
}
.fullWidthContainer p {
    margin: 0;
    font-size: 1.3rem;
    line-height: 1.5;
    text-align: justify;
    color: white;
}