header{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #edcf36;
    text-shadow: 0 0 15px #e1d05e , 0 0 30px #e1d05e, 0 0 2px #c91818;
    width: 100%;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1rem;
}
h1{
    margin: 0;
    border-radius: 10px 10px 0 0;
    text-shadow: 5px 5px 5px #ea00d9;
    padding: 0.5rem;
}
h1:hover{
    text-shadow: 0 0 20px #e1d05e , 0 0 40px #e1d05e, 0 0 5px #c91818, 0 0 30px #842a8d;
    transition: 0.3s;
    transform: scale(1.05);
}
.stick{
    background-color: #edcf36;
    width: 2rem;
    height: 0.2rem;
    margin: 0 0.5rem;
    box-shadow:0 0 15px #e1d05e , 0 0 30px #e1d05e, 0 0 2px #c91818, 0 0 25px #842a8d;
}
