.imageTextContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    background-color: var(--black);
    box-shadow: 0 0 15px var(--purple);
    border-radius: 10px;
    max-width: 700px;
    width: 100%;
    box-sizing: border-box; 
}
.imageTextImage img{
    max-width: 400px;
    height: auto;
    border-radius: 10px;
}
.imageTextImage{
    border-radius: 10px;
    box-shadow: 0 0 15px #ea00d9;
}
.imageTextText{
    color: #ffffff;
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px #ea00d9;
}
.imageTextText h4{
    color: #0abdc6;
    text-shadow: 0 0 5px #133e7c;
    text-align: center;
}