#container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.infoCard{
    background-color: rgba(0, 0, 0, 0.7);
    color: #00ff00;
    border: 2px solid #00ff00;
    padding: 20px;
    margin: 20px;
    width: 400px;
    height: 300px;
    box-shadow: 0 0 10px #00ff00;
    transition: 0.3s;
}
.infoCard:hover{
    box-shadow: 0 0 20px #ff00ff;
    transform: scale(1.05);
}
img {
    width: 15rem;
    height: 10rem;
    padding: 2px;
}
.buy{
    position: relative;
    top: 20px;
}