#container{
    display: flex;
    justify-content: center;
}
.infoCard{
    background-color: rgba(0, 0, 0, 0.7);
    color: #00ff00;
    border: 2px solid #00ff00;
    padding: 20px;
    margin: 20px;
    width: 300px;
    box-shadow: 0 0 10px #00ff00;
}
img {
    width: 10rem;
    height: 10rem;
    padding: 2px;
    background-color: rgba(255, 0, 0, 0.144);
}